body {
    background-image: url("https://images.unsplash.com/photo-1520034475321-cbe63696469a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2efbd126389f0ea2ce0db8c507919e1b&auto=format&fit=crop&w=1050&q=80");
    background-position: center;
    background-size: cover;
    margin: 50px;
    opacity: 0.93;
    font-family: "Raleway", "sans-serif";
    font-weight: bold;
}

.card {
    background-color: white;
}

#numOfResults {
    color: black;
    background-color: white;
}

#searchBtn {
    background-color: white;
}

.collapse{
    background-color: url("https://images.unsplash.com/photo-1532629345422-7515f3d16bb6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e458810828203a759112bd315f60fc9b&auto=format&fit=crop&w=1050&q=80");
}

.card body {
    background-color: white;
}

.logo {
    text-align: center;
    width: 100%;
    font-family: "Raleway", "sans-serif";
    font-style: bold;
}

.header {
    overflow: hidden;
    background-color: white;
    padding: 20px 10px;
    text-align: center;
}


/* Style the header links */
.header a {
    float: center;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }

  /* Style the logo link */
.header a.logo {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }

/* Change the background color on mouse-over */
.header a:hover {
    color: black;
  }

/* Style the active/current link*/
.header a.active {
    background-color: dodgerblue;
    color: white;
    font-family: "Raleway", "sans-serif";
    font-style: bold;
  }

/* Float the link section to the right */
.header-right {
    float: right;
  }

 footer {
    overflow: hidden;
    background-color: white;
    padding: 20px 10px;
    
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }

    .header-right {
        float: none;
      }

    .header a.logo {
        font-size: 33px;
    }

}